body {
  background-color:#c9b5ab;
}

h1, h2, {
  font-family: PT Sans;
  font-size: 1.5rem;
}

.latin {
  font-style: italic;
}

nav {
  font-family: PT Sans;
  font-size:1.125rem;
  color: #8f2440;
}

img {
  width: 100%;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

p:first-child {
  font-family: 'Patua One', cursive;
  font-size:1.125rem;
}
