body {
  background-color:#c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: normal;
}

h1 h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

.latin {
  font-style: italic;
}

nav {
  font-family: PT Sans;
  font-size: 1.125rem;
  color: #8f2440;
}

img {
  width: 100%;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

p:first-child {
  font-size: 1.125rem;
  font-weight: bold;
}

.beet {
  font-weight: bold;
}

cite {
  font-style: italic;
}

.battle {
  font-style: italic;
}

blockquote {
  line-height: 1.5;
}

blockquote > cite {
  font-size: 0.8rem;
}

ol {
  list-style-type: lower-greek;
}

dl {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul > li {
  font-size: 0.8rem;

}
