html {
  background-color:#c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: normal;
  color: #222;
}

h1 h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav > ol > li {
  font-family: PT Sans;
  font-size: 1.125rem;
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

p:first-of-type {
  font-size: 1.125rem;
  font-weight: bold;
}

.beet {
  font-weight: bold;
}

cite {
  font-style: italic;
  color: #3f1622;
}

.battle {
  font-style: italic;
}

blockquote {
  line-height: 1.5;
  font-weight: bold;

}

blockquote > cite {
  font-size: 0.8rem;
}

ol {
  list-style-type: lower-greek;
}

dt :first-child {
  font-style: italic;
}

dt {
  font-weight: bold;
  color: #3f1622;
}

ul > li {
  font-size: 0.8rem;
  list-style-type: circle;
}

footer {
  font-size: 0.8rem;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}
